
@define-color foreground #eeeeee;
@define-color foreground-inactive #aaaaaa;
@define-color background #000000;

* {
    font-family: JetBrainsMono Nerd Font,Symbols Nerd Font,Fira Code;
    font-size: 15px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#cpu,
#memory,
#disk,
#wireplumber,
#backlight,
#battery,
#tray,
#idle_inhibitor,
#language,
#network,
#bluetooth {
  padding-left: 1em
}
